<div>
  <div>
    <h1>Team Generator</h1>
    <ul>
      <li *ngFor="let driver of drivers">{{driver}}</li>
    </ul>
    <div>
      <input
      #addDriverInput 
      type="text" 
      placeholder="name"
      (input)="onInput(addDriverInput.value)"
      [value]="newDriverName">
      <button (click)="addDriver()">Add</button>
    </div>
    <div>
      <input
      #numberOfTeamsInp
      type="number" 
      placeholder="# of teams"
      (input)="onNumberOfTeamsInput(numberOfTeamsInp.value)"
      [value]="numberOfTeams"
      />
      <button (click)="generateTeams()">Generate</button>
    </div>

    <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
  </div>
  <div *ngIf="teams.length" class="teams-container">
    <div *ngFor="let team of teams; let i = index" class="team-container">
      <h3>Team {{i+1}}</h3>
      <ul>
        <li *ngFor="let driver of team">{{driver}}</li>
      </ul>
    </div>
  </div>
</div>