/* You can add global styles to this file, and also import other style files */
@import "semantic-ui-css/semantic.css";



button {
    background-color: rgb(245, 30, 245);
    color: white;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    
}
